<a name="top"></a>
<nav class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
  

  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed bgblack" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
   
    <%= link_to image_tag("preachout.png", :class => "navbar-brand thum35"), root_path %>
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home">Home </a></li>
        <li><a href="/explore">Explore </a></li>
        <li><a href="/home">Notifications </a></li>
        <li><a href="/home">Messages </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search PreachOut">
            </div>
          </form>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag(current_preacher.profilephoto.url(:small), :class => "rounded-img",  :height => "25px", :width => "25px" ) %> <span class="caret"></span></a>




          
          <ul class="dropdown-menu">
            <li><a href="/preacher/<%= current_preacher.displayname %>">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Settings', edit_preacher_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Log Out', destroy_preacher_session_path, :method => :delete) %></li>
          </ul>
          
         <li type="button" class="btn btn-primary navbar-btn">PreachOut</li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
